html {
	scroll-behavior: smooth;
}

body{
    margin: 0%;
    display: block;
}

p{
    margin: 0%;
    line-height: 2rem;
}

li{
    /* margin-right: 60px; */
    /* padding-left: 30px;
    padding-right: 30px; */
    list-style: none;
    font-family: "Almendra SC";
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.header-tab ul li a{
    transition: all 0.2s ease-in-out;
}

.top:hover{
    color: lightgray;
}

.about:hover{
    color: lightgray;
}

.portfolio:hover{
    color: lightgray;
}

.contact:hover{
    color: lightgray;
}

#menu-btn-check {
    display: none;
}

.hamburger-menu{
    width: 45%;
}

.header{
    background-color: #707070;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 10;
}

.header-box{
    width: 90%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-img{
    margin-left: 80px;
    margin-top: 12px;
}

.header-tab{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title{
    background-color: #C69292;
    max-width: 100%;
    height: calc(100% - 80px);
    position: relative;
    overflow: hidden;
}

.title-empty{
    width: 100%;
    height: 80px;
}

.MWF-title{
    font-family: "Almendra Display";
    font-size: 70px;
    text-align: center;
    padding-top: 80px;
    position: relative;
    z-index: 2;
}

.MWF-img{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
    position: relative;
    z-index: 2;
}

.about-me-box{
    background-color: #E9E9E9;
    max-width: 100%;
    height: 100%;
}

.about-me{
    max-width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-me-title{
    font-family: "Almendra SC";
    line-height: 10rem;
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
}

.about-me-main{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-me-img{
    width: 160px;
    height: 160px;
    box-shadow: 0 0 8px gray;
}

.about-me-text{
    padding-left: 10px;
}

.works-box{
    background-color: #D9D9D9;
    max-width: 100%;
    height: 100%;
}

.works{
    max-width: 100%;
    height: 100%;
}

.works-text{
    font-family: "Almendra SC";
    font-size: 70px;
    padding-top: 50px;
    text-align: center;
}

.works-list{
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works-list-tile-naracoffe{
    color: #FFF;
    font-family: "Almendra SC";
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.works-list-tile-rin{
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.works-list-tile-mwf{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: "Almendra Display";
    padding-top: 10px;
}

.works-list-tile-other{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    line-height: 2rem;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.works-list-tile-milkypop{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Kaisei Tokumin', serif;
    padding-top: 10px;
}

.works-list-p{
    color: #fff;
    line-height: 2rem;
    text-align: center;
    padding-top: 50px
}

.figma-img{
    text-decoration: underline;
}

.narascoffe{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.naracoffee-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.naracoffee-img:hover{
    opacity: 0.7;
}

.rin{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 53px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.rin-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.rin-img:hover{
    opacity: 0.7;
}

.myworldfactory{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 53px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.myworldfactory-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.myworldfactory-img:hover{
    opacity: 0.7;
}

.crazyfactory{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.crazyfactory-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.crazyfactory-img:hover{
    opacity: 0.7;
}

.grs{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 53px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.grs-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.grs-img:hover{
    opacity: 0.7;
}

.milkypop{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 53px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
}

.milkypop-img{
    width: 70%;
    border: 20px solid #C69292;
    display: block;
    margin: 0 auto;
}

.milkypop-img:hover{
    opacity: 0.7;
}

.skill{
    background-color: #E9E9E9;
    max-width: 100%;
    height: 100%;
}

.skill-text{
    font-family: "Almendra SC";
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
}

.skill-list{
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.html-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.html-img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.css-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.css-img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.js-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.js-img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.skill-list-tile-html{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.skill-list-tile-css{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.skill-list-tile-js{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.c-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.c-img{
    width: 45%;
    display: block;
    margin: 0 auto;
}

.unity-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.unity-img{
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.gb-skill{
    width: 440px;
    height: 500px;
    background-color: gray;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    border-radius: 0.75em;
    box-shadow: 0 0 8px gray;
    border-bottom: #92C6BA 10px solid;
    margin: 0 auto;
}

.gb-img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.gb-audio{
    width: 300px;
    height: 48px;
}

.skill-list-tile-c{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.skill-list-tile-unity{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.skill-list-tile-gb{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.skill-list-p{
    color: #fff;
    line-height: 2rem;
    text-align: center;
    padding-top: 20px
}

.contact-box{
    background-color: #D9D9D9;
    max-width: 100%;
    height: 100vh;
}

.contact-title{
    max-width: 100%;
    height: 50%;
    background-color: #C69292;
}

.contact-title-p{
    font-family: "Almendra Display";
    font-size: 70px;
    text-align: center;
    padding-top: 160px;
}

.contact-text{
    font-family: "Almendra SC";
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
}

.contact-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.contact-mail-button{
    font-family: "Almendra SC";
    font-size: 50px;
    padding-top: 50px;
    color: #000;
}

.contact-mail-button:hover{
    opacity: 0.5;
}

.page-top{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}

.page-top::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}

.page-top:hover{
    opacity: 1;
}

#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#333;
    text-align:center;
    color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    width:260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.copylight-box{
    width: 100%;
    height: 60px;
    background-color: #92C6BA;
    /* background-color: #0D0015; */
    /* border-top: #B68D4C solid; */
}

.copylight-p{
    padding-top: 20px;
    padding-left: 50px;
    color: #fff;
    margin: 0%;
}

.item {
	position: absolute;
	top: 800px;
	left: 500px;
	animation: come-down-anim 5s linear infinite;
	z-index: 1;
}

.item2 {
	position: absolute;
	top: 1000px;
	left: 50px;
	animation: come-down-anim 6s linear infinite;
	z-index: 1;
}

.item3 {
	position: absolute;
	top: 800px;
	left: 900px;
	animation: come-down-anim 6.5s linear infinite;
	z-index: 1;
}

.item4 {
	position: absolute;
	top: 900px;
	left: 1300px;
	animation: come-down-anim 5.5s linear infinite;
	z-index: 1;
}

@keyframes come-down-anim {
	0% {
	transform: translateY(100%);
	}
	100% {
	transform: translateY(-1100px);
	}
}

.heart {
	width: 50px;
	height: 50px;
	position: relative;
}

.heart::before {
	content: "";
	position: absolute;
	left: 60px; /* x位置 */
	top: 0; /* y位置 */
	width: 60px; /* 幅 */
	height: 100px; /* 高さ */
	background: #92C6BA; /* 色 */
	border-radius: 100px 60px 0 0; /* 丸み */
	transform: rotate(-45deg); /* 角度調整 */
	transform-origin: 0 100%; /* 回転の基準点 */
}

.heart::after {
	content: "";
	position: absolute;
	left: 0; /* x位置 */
	top: 0; /* y位置 */
	width: 60px; /* 幅 */
	height: 100px; /* 高さ */
	background: #92C6BA; /* 色 */
	border-radius: 60px 100px 0 0; /* 丸み */
	transform: rotate(45deg); /* 角度調整 */
	transform-origin: 100% 100%; /* 回転の基準点 */
}